.masters {
  width: 100%;
  padding-top: 84px;
  padding-bottom: 84px;
  background-color: #f7f7f7;
  @media screen and (min-width: 768px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @media screen and(min-width:1280px) {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}
.masters-position {
  padding-left: 31px;
  padding-right: 31px;
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;
  @media screen and (max-width: 479px) {
    width: 320px;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and(min-width:1280px) {
    max-width: 1280px;
  }
}
.master-section:not(:last-child) {
  margin-bottom: 64px;
  justify-content: center;

  @media screen and (min-width: 1280px) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.master-section {
  object-fit: cover;
  align-items: center;

  @media screen and (min-width: 1280px) {
    margin-bottom: 64px;
  }
  @media screen and (min-width: 768px) {
    width: 450px;
  }

  @media screen and (min-width: 1280px) {
    width: 370px;
    margin-bottom: 0;
  }
}

.master-block {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @extend %list-throw;

  @media screen and(min-width:1280px) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.pic {
  display: block;
  width: 100%;
  margin-bottom: 30px;
}
.par-text__pos {
  margin-bottom: 44px;
  padding-left: 25px;
  @media screen and(max-width: 467px) {
    padding-left: 0;
  }
  @media screen and(min-width: 768px) {
    padding-left: 127px;
  }
  @media screen and(min-width: 1280px) {
    padding-left: 25px;
  }
}
.masters-paragraph {
  position: relative;
  // text-align: center;
  font-weight: 600px;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: $main-color;
  margin-bottom: 20px;
  padding-left: 80px;
  @extend %text-throw;

  &::before {
    position: absolute;
    left: 0;
    top: 50%;
    content: '';
    width: 60px;
    border: 1px solid $main-color;
    color: $main-color;
  }
}

.masters-text {
  font-weight: 700px;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  @extend %text-throw;
}

.master-name {
  font-weight: 400px;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: $main-color;

  text-align: center;
  @extend %text-throw;
  margin-bottom: 8px;
}

.master-position {
  font-weight: 400px;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: $hover-color;

  text-align: center;
  @extend %text-throw;
  margin-bottom: 30px;
}

.social-block {
  display: flex;
  justify-content: center;
  padding-left: 0;
}
.social:not(:last-child) {
  margin-right: 10px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: $white-color;
  transition: 0.3s ease-in;
  cursor: url('../../src/images/icons/finger.svg'), pointer;
  border-style: none;
  &:hover .icon {
    fill: $hover-color;
  }
}
