.portfolio-conteiner {
  @media screen and (max-width: 767px) {
    padding-top: 84px;
    padding-bottom: 84px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}
.container-portfolio {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  @media screen and (max-width: 767px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1280px) {
    width: 1280px;
  }
}
ul {
  list-style: none;
}
.portfolio-ghost {
  display: none;
}
.portfolio-title {
  display: inline-flex;
  align-items: center;

  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-size: 11px;
  line-height: 1.91;
  color: #303030;
  @extend %text-throw;
  margin-bottom: 44px;
  text-transform: uppercase;
  text-decoration: none;

  @media screen and (min-width: 768px) {
    padding-left: 25px;
  }
  @media screen and (min-width: 1280px) {
    padding-left: 40px;
  }
}

.portfolio-title::before {
  content: '';
  width: 60px;
  height: 1px;
  background-color: #303030;
  border-radius: 1px;
  margin-right: 20px;
}

.portfolio-item {
  @extend %list-throw;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1280px) {
    display: flex;
  }
}

.portfolio-list {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    width: 330px;
    &:nth-child(2n) {
      margin-left: 30px;
    }
    &:nth-child(-n + 2) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 1280px) {
    display: flex;
    width: 270px;
    &:not(:last-child) {
      margin-right: 30px;
    }
    &:nth-child(-n + 2) {
      margin-bottom: 0;
    }
    &:nth-child(2n) {
      margin-left: 0;
    }
  }
}
.portfolio-image {
  display: block;
  width: 100%;
  object-fit: cover;
}
