*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.header-title, .text .text-title, .best-barber-title {
  font-family: "Raleway", sans-serif;
}

.header-content, .plus .item-cyfra, .plus .item-paragraph, .text .text-paragraph, .best-barber-paragraf, .best-barber-text, .best-barber-about {
  font-family: "Open Sans", sans-serif;
}

.best-barber-button {
  border: 2px solid #ff6c00;
  border-radius: 25px;
  padding: 12px 20px;
}

.header-menu__click {
  border: 2px solid #ff6c00;
  border-radius: 25px;
  padding: 12px 38px;
}

.header-menu__social, .header-menu__contacts, .header-menu__list, .sidebar-menu__social {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.header-title, .header-paragraph {
  margin-top: 0;
  margin-bottom: 0;
}

.best-barber-foto .hair, .best-barber-foto .beard {
  display: block;
}

.header-menu__link {
  display: block;
  text-decoration: none;
}

.container {
  padding: 84px 31px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 100px 39px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.best-barber-about {
  color: #303030;
  padding-left: 80px;
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  position: relative;
}
.best-barber-about::before {
  position: absolute;
  left: 0;
  top: 7px;
  content: "";
  width: 60px;
  height: 1px;
  border: 1px solid #303030;
  color: #303030;
}
.best-barber-title {
  color: #303030;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
}
@media screen and (min-width: 1280px) {
  .best-barber-title {
    font-size: 42px;
    line-height: 1.16;
  }
}
.best-barber-text {
  color: #555555;
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
}
@media screen and (min-width: 1280px) {
  .best-barber-text {
    font-size: 18px;
    line-height: 1.66;
  }
}
.best-barber-paragraf {
  color: #555555;
  padding-bottom: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
}
.best-barber-button {
  background-color: #ffffff;
  transition: 0.3s ease-in;
  text-transform: uppercase;
  cursor: url("/finger.c4b4badc.svg"), pointer;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}
.best-barber-button:hover, .best-barber-button:focus {
  background-color: #ff6c00;
  color: #ffffff;
  transition: 0.3s ease-in;
}

.barber-foto {
  display: block;
}
@media screen and (min-width: 1280px) {
  .barber-foto {
    display: flex;
  }
}

.best-barber-foto {
  display: none;
}
@media screen and (min-width: 768px) {
  .best-barber-foto {
    display: block;
    width: 100%;
    overflow: hidden;
    margin-right: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .best-barber-foto {
    display: flex;
    margin-right: 0;
  }
}
.best-barber-foto .beard {
  width: 330px;
  margin-bottom: 30px;
  border: 1px solid #000000;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
@media screen and (min-width: 1280px) {
  .best-barber-foto .beard {
    width: 270px;
    margin-right: 30px;
    margin-bottom: 0;
    border: none;
    filter: none;
    object-fit: cover;
    object-position: 30%;
  }
}
.best-barber-foto .hair {
  width: 330px;
}
@media screen and (min-width: 1280px) {
  .best-barber-foto .hair {
    object-fit: cover;
    object-position: 40%;
    width: 270px;
    margin-right: 64px;
  }
}

@media screen and (max-width: 767px) {
  .come-here {
    padding-top: 84px;
    padding-bottom: 84px;
  }
}
@media screen and (min-width: 768px) {
  .come-here {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1280px) {
  .come-here {
    padding-top: 121px;
    padding-bottom: 130px;
  }
}

.come-here-position {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .come-here-position {
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .come-here-position {
    display: flex;
    justify-content: space-evenly;
    width: 1280px;
  }
}

.text {
  max-width: 500px;
  text-align: left;
}
.text .text-before {
  position: relative;
  text-transform: uppercase;
  color: #303030;
  padding-left: 111px;
  margin-bottom: 20px;
}
.text .text-before::before {
  position: absolute;
  left: 0;
  top: 7px;
  content: "";
  width: 60px;
  border: 1px solid #303030;
  color: #303030;
}
.text .text-title {
  font-size: 42px;
  font-weight: bold;
  line-height: 49px;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}
.text .text-paragraph {
  text-align: left;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #555555;
}
@media screen and (min-width: 768px) {
  .text {
    max-width: 500px;
    text-align: left;
  }
}
@media screen and (min-width: 1280px) {
  .text {
    order: 2;
    margin-bottom: 0em;
    padding-top: 35px;
  }
}

.plus {
  display: flex;
}
@media screen and (max-width: 420px) {
  .plus {
    flex-direction: column;
    padding: 0px 30px;
  }
}
@media screen and (min-width: 768px) {
  .plus {
    margin-left: auto;
    width: 80%;
  }
}
@media screen and (min-width: 1280px) {
  .plus {
    margin-right: 130px;
    display: flex;
    justify-content: flex-end;
  }
}
.plus .plus-group-one {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-left: 0;
}
@media screen and (min-width: 480px) {
  .plus .plus-group-one {
    margin-right: 0;
  }
}
.plus .plus-group-two {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  margin-left: 30px;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (max-width: 420px) {
  .plus .plus-group-two {
    padding-top: 0;
    margin-left: 0;
  }
}
@media screen and (min-width: 420px) {
  .plus .plus-group-two {
    padding-top: 35px;
  }
}
@media screen and (min-width: 480px) {
  .plus .plus-group-two {
    padding-top: 35px;
  }
}
.plus .plus-group-two:nth-child(even) {
  margin-bottom: 0;
}
.plus .item-container {
  padding: 20px 35px;
  background-color: #f7f7f7;
  text-align: center;
  margin: 15px 0px;
}
.plus .item-container:not(:last-child) {
  margin-bottom: 0;
}
.plus .item-container :nth-child(n+1) {
  margin-right: 0;
}
@media screen and (max-width: 419px) {
  .plus .item-container {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 320px) {
  .plus .item-container {
    max-width: 193px;
  }
}
@media screen and (min-width: 768px) {
  .plus .item-container {
    min-width: 210px;
  }
}
@media screen and (min-width: 1280px) {
  .plus .item-container {
    min-width: 170px;
  }
}
.plus .item-paragraph {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
}
.plus .item-cyfra {
  color: #303030;
  font-weight: bold;
  font-size: 42px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.05em;
}
.plus .sup {
  font-size: 16px;
  color: #ff6c00;
}
@media screen and (min-width: 768px) {
  .plus .plus-group-two {
    max-width: 210px;
  }
}
@media screen and (min-width: 1280px) {
  .plus .plus {
    order: 1;
  }
  .plus .plus-group-one {
    min-width: 170px;
  }
  .plus .plus-group-two {
    min-width: 170px;
  }
  .plus .item-container {
    padding: 20px 24px;
    margin-left: 0;
    margin-right: 0;
    max-width: 170px;
  }
}

.section-prise {
  min-width: 480px;
  min-height: 826px;
}
@media screen and (max-width: 479px) {
  .section-prise {
    min-width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .section-prise {
    min-width: 768px;
    min-height: 858px;
  }
}
@media screen and (min-width: 1280px) {
  .section-prise {
    min-width: 1280px;
    min-height: 718px;
  }
}

.container-prise {
  display: block;
  padding: 84px 31px;
  background: url("/barbershop-mobil.d1e1d7cf.jpg") rgba(17, 19, 25, 0.85);
  /* background: url(../images/barbershop-mobil.jpg) rgba(17, 19, 25, 0.85);*/
  background-blend-mode: color-burn;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .container-prise {
    padding: 100px 39px;
    background: url("/barbershop-tablet.f644bb41.jpg") rgba(17, 19, 25, 0.85);
    background-blend-mode: color-burn;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .container-prise {
    background-image: rgba(17, 19, 25, 0.85) url("/barbershop_tablet@2x.e4454ae3.jpg");
    background-blend-mode: color-burn;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
@media screen and (min-width: 1280px) {
  .container-prise {
    padding: 130px 55px;
    background: url("/barbershop-comp.fd622f55.jpg") rgba(17, 19, 25, 0.85);
    background-blend-mode: color-burn;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .container-prise {
    background-image: rgba(17, 19, 25, 0.85) url("/barbershop-comp@2x.e5fe7ee1.jpg");
    background-blend-mode: color-burn;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
.line-meta-prise {
  display: flex;
  margin-bottom: 20px;
}

.prise-line {
  width: 60px;
  height: 1px;
  background: rgba(157, 164, 189, 0.6);
  margin-right: 20px;
  margin-top: 7px;
}

.block-prise {
  display: inline-block;
  list-style-type: none;
  padding: 30px;
  margin-bottom: 50px;
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}
@media screen and (max-width: 479px) {
  .block-prise {
    max-width: 479px;
  }
}
@media screen and (min-width: 480px) {
  .block-prise {
    min-width: 480px;
  }
}
@media screen and (min-width: 1280px) {
  .block-prise {
    padding: 0px;
    background-image: none;
  }
}

.meta-prise {
  font-family: Open Sans, sans-serif;
  font-style: 400;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}

.name-section-prise {
  display: block;
  height: 49px;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-bottom: 44px;
}

@media screen and (max-width: 479px) {
  .menu-services-prise {
    max-width: 315px;
    justify-content: unset;
  }
}
@media screen and (min-width: 480px) {
  .menu-services-prise {
    min-width: 418px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 1280px) {
  .menu-services-prise {
    min-width: 418px;
    display: block;
    align-items: unset;
    justify-content: unset;
  }
}

.item-prise {
  display: flex;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 0.02em;
  color: #9da4bd;
  margin-bottom: 20px;
  margin-left: 0px;
  align-items: baseline;
}
@media screen and (min-width: 768px) {
  .item-prise {
    font-size: 18px;
    line-height: 1.66;
  }
}

.services-prise-two,
.services-prise-one {
  padding-left: 0;
}

.services-prise-two .item-prise:last-child {
  margin-bottom: 0px;
}

@media screen and (min-width: 1280px) {
  .services-prise-one .item-prise:last-child {
    margin-bottom: 0px;
  }
}
.item-prise::before {
  content: "";
  border-bottom: 1px solid rgba(157, 164, 189, 0.12);
  flex-grow: 1;
  order: 2;
  margin: 0px 6px;
}

.value {
  order: 3;
}

.button-prise {
  display: block;
  border: 2px solid #ff6c00;
  border-radius: 25px;
  padding: 12px 38px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  background-color: transparent;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.09em;
  color: #ffffff;
  transition: 0.3s ease-in;
  cursor: url("/finger.c4b4badc.svg"), pointer;
}
.button-prise:hover {
  background-color: #ff6c00;
  outline: none;
}

@media screen and (min-width: 1280px) {
  .block-prise {
    display: flex;
  }
}
@media screen and (min-width: 1280px) {
  .services-prise-one {
    width: 50%;
    padding: 30px 40px;
    background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
}
@media screen and (min-width: 1280px) {
  .services-prise-two {
    width: 50%;
    padding: 30px 40px;
    background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  }
}
.footer {
  background-color: #191c26;
  width: 100%;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 1280px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
  }
}

.footer-container {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 84px;
  padding-bottom: 83px;
  width: 100%;
  justify-content: center;
  display: flex;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 1280px) {
  .footer-container {
    width: 50%;
    margin: 0px;
    padding-top: 130px;
    padding-bottom: 130px;
    height: 644px;
  }
}

.footer-caption {
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.67;
  color: #ffffff;
  margin-top: 0px;
  margin-bottom: 44px;
  justify-self: center;
}
@media screen and (min-width: 768px) {
  .footer-caption {
    text-align: left;
    margin-left: 0px;
  }
}
@media screen and (min-width: 1280px) {
  .footer-caption {
    margin-bottom: 40px;
  }
}

.input-name {
  color: white;
  background-color: transparent;
  width: 100%;
  height: 25px;
  border-bottom-width: 1px;
  border-bottom-color: rgba(157, 164, 189, 0.4);
  border-top: none;
  border-left: none;
  border-right: none;
  cursor: url("/finger.c4b4badc.svg"), pointer;
}
.input-name:focus {
  outline: none;
}
@media screen and (min-width: 768px) {
  .input-name {
    width: 330px;
  }
}
@media screen and (min-width: 1280px) {
  .input-name {
    width: 270px;
  }
}

.form-name {
  position: relative;
  cursor: url("/finger.c4b4badc.svg"), pointer;
  transition: color 0.3s ease-in;
  overflow: hidden;
}
.form-name:hover .input-name {
  border-bottom-color: white;
}
.form-name:hover .name {
  color: white;
}
.form-name:first-child {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .form-name:first-child {
    margin-right: 30px;
  }
}

.name {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(1px, 5px);
  color: rgba(157, 164, 189, 0.4);
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  opacity: 1;
  transition: transform 0.3s ease-in;
  cursor: url("/finger.c4b4badc.svg"), pointer;
}
.input-name:focus + .name, .input-name:not(:placeholder-shown) + .name {
  transform: translateX(-60px);
}

.form-comment {
  position: relative;
  cursor: url("/finger.c4b4badc.svg"), pointer;
  transition: color 0.3s ease-in, border-bottom-color 0.3s ease-in;
  margin-bottom: 44px;
  display: flex;
}
.form-comment:hover .input-comment {
  border-bottom-color: white;
}
.form-comment:hover .comment {
  color: white;
}

.input-comment {
  cursor: url("/finger.c4b4badc.svg"), pointer;
  color: white;
  background-color: transparent;
  width: 100%;
  height: 22px;
  border-bottom-width: 1px;
  border-bottom-color: rgba(157, 164, 189, 0.4);
  border-top: none;
  border-left: none;
  border-right: none;
  resize: none;
}
.input-comment:focus {
  outline: none;
}
@media screen and (min-width: 768px) {
  .input-comment {
    width: 690px;
  }
}
@media screen and (min-width: 1280px) {
  .input-comment {
    width: 560px;
  }
}

.comment {
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(0px, -30px);
  color: rgba(157, 164, 189, 0.4);
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  opacity: 1;
  transition: opacity 0.3s ease-in 0.3s, transform 0.3s ease-in;
}
.input-comment:focus + .comment, .input-comment:not(:placeholder-shown) + .comment {
  opacity: 0;
  transform: translate(500px, -30px);
}
@media screen and (min-width: 768px) {
  .comment {
    transform: translate(0px, -30px);
  }
}
@media screen and (min-width: 1280px) {
  .comment {
    transform: translate(1px, -45px);
  }
}

.button-submit {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  border: 2px solid #ff6c00;
  border-radius: 25px;
  padding: 12px 38px;
  background: transparent;
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-self: center;
  cursor: url("/finger.c4b4badc.svg"), pointer;
  transition: background-color 0.3s ease-in;
}
.button-submit:hover {
  background-color: #ff6c00;
}
@media screen and (min-width: 768px) {
  .button-submit {
    margin-left: 0px;
  }
}

.container-contacts {
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 84px;
  padding-bottom: 84px;
  height: 496px;
  background: url("/contacts.f1ade564.jpg") rgba(17, 19, 25, 0.9);
  background-blend-mode: color-burn;
  background-size: cover;
  background-position: center;
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .container-contacts {
    background-image: url("/contacts-x.d5ceed12.jpg") rgba(17, 19, 25, 0.9);
    background-blend-mode: color-burn;
    background-size: cover;
    background-position: center;
  }
}
@media screen and (min-width: 768px) {
  .container-contacts {
    width: 100%;
    padding: 100px 39px;
    background: url("/contacts-tablet.fcffa344.jpg") rgba(17, 19, 25, 0.9);
    background-blend-mode: color-burn;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .container-contacts {
    background-image: url("/contacts-tablet-x.fde6d8c0.jpg") rgba(17, 19, 25, 0.9);
    background-blend-mode: color-burn;
  }
}
@media (min-width: 1280px) {
  .container-contacts {
    width: 50%;
    margin: 0px;
    padding-top: 130px;
    padding-bottom: 130px;
    padding-left: 100px;
    padding-right: 100px;
    height: 644px;
    background: url("/contacts-desktop.26e1c2ca.jpg") rgba(17, 19, 25, 0.9);
    background-blend-mode: color-burn;
    background-size: cover;
    background-position: center;
    display: block;
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .container-contacts {
    background-image: url("/contacts-desktop-x.99e4cc60.jpg") rgba(17, 19, 25, 0.9);
    background-blend-mode: color-burn;
    background-size: cover;
    background-position: center;
  }
}

.list-address {
  list-style: none;
  margin-bottom: 44px;
  padding-left: 0;
}
@media screen and (min-width: 1280px) {
  .list-address {
    margin-bottom: 70px;
  }
}

.address-item {
  display: flex;
  align-items: center;
  width: 100%;
  cursor: url("/finger.c4b4badc.svg"), pointer;
}
.address-item:not(:last-child) {
  margin-bottom: 20px;
}
@media screen and (min-width: 1280px) {
  .address-item {
    width: 270px;
  }
}

.address {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  cursor: url("/finger.c4b4badc.svg"), pointer;
  color: #9da4bd;
  font-style: normal;
  margin-left: 25px;
}

.none {
  text-decoration: none;
}

.schedule {
  margin-left: 80px;
  position: relative;
  font-family: "Open Sans", sans-serif;
  color: white;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  display: flex;
  align-items: center;
}
.schedule::before {
  position: absolute;
  left: 0;
  top: 7px;
  content: "";
  width: 60px;
  border: 1px solid rgba(157, 164, 189, 0.4);
  color: rgba(157, 164, 189, 0.4);
  transform: translateX(-80px);
}
@media screen and (min-width: 1280px) {
  .schedule {
    margin-bottom: 20px;
  }
}

.line {
  background-color: rgba(157, 164, 189, 0.4);
  width: 60px;
  height: 1px;
  content: "";
  margin-right: 20px;
}

.schedule-item {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  color: #9da4bd;
  display: block;
}

.flex-container {
  display: flex;
  text-align: left;
  flex-wrap: wrap;
  align-items: left;
  justify-content: left;
}
@media screen and (min-width: 768px) {
  .flex-container {
    display: block;
  }
}

.container-schedule {
  align-self: center;
}

.container-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding-top: 44px;
  padding-bottom: 44px;
  padding-left: 31px;
  padding-right: 31px;
  position: relative;
  height: 138px;
}
@media screen and (min-width: 768px) {
  .container-copyright {
    height: 127px;
    width: 100%;
  }
}
.copyright-list {
  list-style: none;
  display: flex;
  justify-content: right;
  margin-left: auto;
  align-items: center;
  text-align: right;
  padding-left: 0;
  order: 3;
}

.copyright-network {
  display: block;
  font-family: "Open Sans", sans-serif;
  cursor: url("/finger.c4b4badc.svg"), pointer;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: #303030;
  text-decoration: none;
  letter-spacing: 0.2em;
}

.instagram {
  display: flex;
  margin-right: 30px;
  align-items: center;
  cursor: url("/finger.c4b4badc.svg"), pointer;
}
@media screen and (max-width: 479px) {
  .instagram {
    margin-right: 10px;
  }
}

.line-copyright {
  content: "";
  height: 1px;
  width: 60px;
  background-color: #303030;
  margin-right: 30px;
}
@media screen and (max-width: 479px) {
  .line-copyright {
    display: none;
  }
}

.copyright {
  font-family: "Open Sans", sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  order: 2;
  letter-spacing: 0.2em;
  color: #9da4bd;
}

.prosto {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .prosto {
    display: flex;
    margin-bottom: 44px;
  }
}
@media screen and (min-width: 1280px) {
  .prosto {
    display: flex;
    margin-bottom: 80px;
  }
}

.masters {
  width: 100%;
  padding-top: 84px;
  padding-bottom: 84px;
  background-color: #f7f7f7;
}
@media screen and (min-width: 768px) {
  .masters {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1280px) {
  .masters {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.masters-position {
  padding-left: 31px;
  padding-right: 31px;
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;
}
@media screen and (max-width: 479px) {
  .masters-position {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .masters-position {
    max-width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .masters-position {
    max-width: 1280px;
  }
}

.master-section:not(:last-child) {
  margin-bottom: 64px;
  justify-content: center;
}
@media screen and (min-width: 1280px) {
  .master-section:not(:last-child) {
    margin-right: 30px;
  }
}

.master-section {
  object-fit: cover;
  align-items: center;
}
@media screen and (min-width: 1280px) {
  .master-section {
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 768px) {
  .master-section {
    width: 450px;
  }
}
@media screen and (min-width: 1280px) {
  .master-section {
    width: 370px;
  }
}

.master-block {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1280px) {
  .master-block {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.pic {
  display: block;
  width: 100%;
}

.masters-paragraph {
  position: relative;
  font-weight: 600px;
  font-size: 11px;
  line-height: 1, 36;
  letter-spacing: 0.1em;
  color: #303030;
  margin-bottom: 20px;
  padding-left: 80px;
}
.masters-paragraph::before {
  position: absolute;
  left: 0;
  top: 7px;
  content: "";
  width: 60px;
  border: 1px solid #303030;
  color: #303030;
}

.masters-text {
  font-weight: 700px;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  margin-bottom: 44px;
}

.master-name {
  font-weight: 400px;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: #303030;
  text-align: center;
  margin-bottom: 8px;
  margin-top: 30px;
}

.master-position {
  font-weight: 400px;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #ff6c00;
  text-align: center;
  margin-bottom: 30px;
}

.social-block {
  display: flex;
  justify-content: center;
  padding-left: 0;
}

.social:not(:last-child) {
  margin-right: 10px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  transition: 0.3s ease-in;
  cursor: url("/finger.c4b4badc.svg"), pointer;
  border-style: none;
}
.social-button:hover .icon {
  fill: #ff6c00;
}

.position-container {
  display: flex;
}

.header {
  width: 80%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  background-color: rgba(25, 28, 38, 0.2);
}
@media screen and (max-width: 767px) {
  .header {
    width: 100%;
    height: 750px;
  }
}
@media screen and (min-width: 768px) {
  .header {
    padding-bottom: 245px;
    height: 100vw;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    padding-bottom: 206px;
    height: 52.6vw;
  }
}

.sidebar {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 20%;
  min-height: 680px;
}
@media screen and (max-width: 767px) {
  .sidebar {
    display: none;
  }
}
.sidebar a {
  display: block;
  text-align: center;
}

.sidebar-logo__inner {
  width: 69px;
  height: 56px;
}

.sidebar-menu__social {
  position: absolute;
  bottom: 20%;
  left: 44%;
  transform-origin: left top;
  transform: rotate(-90deg);
}
.sidebar-menu__social a {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.35;
  letter-spacing: 0.2em;
  text-decoration: none;
  color: #303030;
}
@media screen and (min-width: 768px) {
  .sidebar-menu__social {
    display: inline-flex;
  }
}

.sidebar-menu__instagram {
  display: block;
  position: relative;
  margin-right: 40px;
}
.sidebar-menu__instagram::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -100%;
  width: 60px;
  border: 1px solid black;
}
.sidebar-menu__instagram a {
  cursor: url("/finger.c4b4badc.svg"), pointer;
  transition: 0.3s ease-in;
}
.sidebar-menu__instagram a:hover {
  color: #ff6c00;
}

.sidebar-menu__youtube a {
  cursor: url("/finger.c4b4badc.svg"), pointer;
  transition: 0.3s ease-in;
}
.sidebar-menu__youtube a:hover {
  color: #ff6c00;
}

.header-content {
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (max-width: 479px) {
  .header-content {
    margin-bottom: 110px;
  }
}
@media screen and (min-width: 480px) {
  .header-content {
    min-width: 480px;
    margin-bottom: 115px;
  }
}
@media screen and (min-width: 768px) {
  .header-content {
    width: 609px;
    margin-bottom: 156px;
  }
}
@media screen and (max-width: 1279px) {
  .header-content {
    justify-content: space-between;
  }
}
@media screen and (min-width: 1280px) {
  .header-content {
    width: 100%;
    margin-bottom: 204px;
  }
}

.header-logo__inner {
  width: 69px;
  height: 56px;
  fill: #ffffff;
}
@media screen and (min-width: 768px) {
  .header-logo__inner {
    display: none;
  }
}

.burger-button {
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  justify-content: center;
  border: none;
  background-color: transparent;
  z-index: 201;
}
.burger-button:focus {
  outline: none;
}
.burger-button.is-open .burger__menu {
  transform: translateX(100%);
}
.burger-button .burger__close {
  transition: 100ms ease-in;
  transform: translateX(100%);
}
.burger-button.is-open .burger__close {
  transform: translateX(0);
}
@media screen and (min-width: 768px) {
  .burger-button {
    display: none;
  }
}

.burger__icon {
  display: block;
  width: 40px;
  height: 40px;
}

.burger__menu {
  transition: 100ms ease-in;
}

.header-menu {
  z-index: 200;
  transition: transform 100ms ease-in;
}
.header-menu.is-open {
  right: 0;
  transform: translatex(0);
  transition: transform 100ms ease-in;
}
@media screen and (max-width: 767px) {
  .header-menu {
    position: absolute;
    top: 0;
    right: 999999999px;
    height: 100%;
    padding-bottom: 227px;
    padding-top: 60px;
    padding-left: 40px;
    padding-right: 40px;
    transform: translatex(100%);
    background-color: #ffffff;
  }
}
@media screen and (min-width: 768px) {
  .header-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .header-menu__list {
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 768px) {
  .header-menu__list {
    display: flex;
  }
}

.header-menu__item {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.38;
  text-align: left;
  letter-spacing: 0.1em;
}
.header-menu__item:not(:last-child) {
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .header-menu__item {
    font-size: 12px;
    line-height: 1.14;
    letter-spacing: 0.1em;
  }
  .header-menu__item:not(:last-child) {
    margin-right: 24px;
    margin-bottom: 0;
  }
}

.header-menu__link {
  text-align: left;
  color: #303030;
  transition: color 0.3s ease-in;
  cursor: url("/finger.c4b4badc.svg"), pointer;
}
.header-menu__link:hover, .header-menu__link:focus {
  color: #ff6c00;
}
@media screen and (min-width: 768px) {
  .header-menu__link {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #ffffff;
  }
}

.header-menu__contacts {
  margin-bottom: 64px;
}
@media screen and (min-width: 768px) {
  .header-menu__contacts {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  .header-menu__contacts {
    flex-direction: row;
    align-items: center;
  }
}

.header-menu__tel {
  margin-bottom: 20px;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .header-menu__tel {
    order: 2;
    margin-bottom: 0;
    text-align: center;
  }
}
@media screen and (min-width: 1280px) {
  .header-menu__tel {
    order: 1;
    margin-right: 40px;
  }
}

.header-menu__phone {
  text-decoration: none;
  color: #303030;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 0.1em;
  transition: color 0.3s ease-in;
  cursor: url("/finger.c4b4badc.svg"), pointer;
}
.header-menu__phone:hover, .header-menu__phone:focus {
  color: #ff6c00;
}
@media screen and (min-width: 768px) {
  .header-menu__phone {
    color: #ffffff;
    font-size: 12px;
    line-height: 1.14;
    letter-spacing: 0.1em;
  }
}
@media screen and (min-width: 1280px) {
  .header-menu__phone {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .header-menu__button {
    order: 1;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .header-menu__button {
    order: 2;
    margin-bottom: 0;
  }
}

.header-menu__click {
  outline: none;
  background-color: transparent;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #303030;
  transition: color 0.3s ease-in, background-color 0.3s ease-in;
  cursor: url("/finger.c4b4badc.svg"), pointer;
}
.header-menu__click:hover, .header-menu__click:focus {
  background-color: #ff6c00;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .header-menu__click {
    color: #ffffff;
    padding-right: 20px;
    padding-left: 20px;
  }
}

.header-menu__social a {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.35;
  letter-spacing: 0.2em;
  text-decoration: none;
  color: #303030;
}
@media screen and (min-width: 768px) {
  .header-menu__social {
    display: none;
  }
}

.header-menu__instagram {
  display: block;
  text-align: right;
  position: relative;
  margin-bottom: 24px;
}
.header-menu__instagram::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 60px;
  border: 1px solid black;
}
.header-menu__instagram a {
  transition: 0.3s ease-in;
}
.header-menu__instagram a:hover {
  color: #ff6c00;
}

.header-menu__youtube {
  text-align: right;
}
.header-menu__youtube a {
  transition: 0.3s ease-in;
}
.header-menu__youtube a:hover {
  color: #ff6c00;
}

@media screen and (max-width: 479px) {
  .header-text-container {
    padding-left: 15px;
  }
}
@media screen and (min-width: 480px) {
  .header-text-container {
    padding-left: 31px;
  }
}
@media screen and (min-width: 768px) {
  .header-text-container {
    padding-left: 0;
    display: inline-block;
    text-align: center;
  }
}
@media screen and (min-width: 1280px) {
  .header-text-container {
    text-align: left;
    padding-left: 100px;
  }
}

.header-paragraph {
  position: relative;
  text-align: left;
  padding-left: 80px;
  display: block;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}
.header-paragraph::before {
  content: "";
  position: absolute;
  top: 40%;
  left: 0;
  width: 60px;
  border: 1px solid rgba(157, 164, 189, 0.6);
}
@media screen and (max-width: 400px) {
  .header-paragraph {
    text-align: left;
    padding-left: 0;
  }
  .header-paragraph::before {
    display: none;
  }
}
@media screen and (min-width: 550px) {
  .header-paragraph {
    display: inline-block;
    padding-left: 80px;
  }
  .header-paragraph::before {
    left: 0;
  }
}
@media screen and (min-width: 768px) {
  .header-paragraph {
    display: inline-block;
    padding-left: 90px;
  }
  .header-paragraph::before {
    left: -20px;
  }
}
@media screen and (min-width: 1280px) {
  .header-paragraph {
    padding-left: 80px;
  }
  .header-paragraph::before {
    left: 0;
  }
}

.header-title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 48px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.header-subtitle {
  display: block;
  width: 61%;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
@media screen and (min-width: 768px) {
  .header-subtitle {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1280px) {
  .header-subtitle {
    display: inline-block;
    margin-left: 0;
    margin-right: auto;
  }
}

#fader {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#fader img {
  position: absolute;
  display: block;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 479px) {
  #fader img {
    object-position: 75% 75%;
  }
}
@media screen and (min-width: 480px) {
  #fader img {
    object-position: 75% 50%;
  }
}
@media screen and (min-width: 768px) {
  #fader img {
    object-position: 75% center;
  }
}
@media screen and (min-width: 1280px) {
  #fader img {
    object-position: unset;
  }
}

.btn-arr {
  cursor: url("/finger.c4b4badc.svg"), pointer;
  width: 60px;
  height: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid rgba(157, 164, 189, 0.6);
  color: rgba(157, 164, 189, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in;
}
.btn-arr:hover {
  color: #ffffff;
  border-color: #ffffff;
}
@media screen and (max-width: 767px) {
  .btn-arr {
    display: none;
  }
}

.btn-prev {
  position: absolute;
  right: 163px;
  bottom: 40px;
}

.btn-next {
  position: absolute;
  right: 50px;
  bottom: 40px;
}

.portfolio-conteiner {
  padding: 0px;
}
@media screen and (max-width: 767px) {
  .portfolio-conteiner {
    margin: 84px 31px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-conteiner {
    margin: 100px 39px;
  }
}
@media screen and (min-width: 1280px) {
  .portfolio-conteiner {
    margin: 130px 55px;
  }
}

ul {
  list-style: none;
}

.portfolio-ghost {
  display: none;
}

.portfolio-title {
  display: inline-flex;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-size: 11px;
  line-height: 1.91;
  color: #303030;
  height: 40px;
  margin-bottom: 40px;
  text-transform: uppercase;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .portfolio-title {
    line-height: 1.36;
  }
}

.portfolio-title::before {
  content: "";
  width: 60px;
  height: 1px;
  align-items: center;
  background-color: #303030;
  border-radius: 1px;
  transform: translateY(10px);
  margin-right: 20px;
}

.portfolio-item {
  display: block;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .portfolio-item {
    max-width: 418px;
  }
  .portfolio-item :nth-last-child(n+4) {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .portfolio-item {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc(100% / 2);
    justify-content: center;
  }
  .portfolio-item:nth-last-child(-n+1) {
    margin-right: -30px;
  }
}
@media screen and (min-width: 1280px) {
  .portfolio-item {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .portfolio-list {
    max-width: 418px;
    margin-left: auto;
    margin-right: auto;
  }
  .portfolio-list:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    width: 330px;
    padding-right: 0px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .portfolio-list:nth-child(2n+2) {
    margin-right: 0px;
  }
  .portfolio-list:nth-last-child(-n+2) {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1280px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    width: 270px;
    margin-right: 30px;
    margin-bottom: 0px;
  }
  .portfolio-list:nth-child(2n) {
    margin-right: 30px;
  }
  .portfolio-list:nth-last-child(-n+1) {
    margin-right: 0px;
  }
}

.portfolio-image {
  display: block;
  width: 100%;
  object-fit: cover;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .container-portfolio {
    width: 690px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1280px) {
  .container-portfolio {
    width: calc(1280px - 110px);
    margin-left: auto;
    margin-right: auto;
  }
}

/*# sourceMappingURL=/src.e31bb0bc.css.map */