<!-- our masters -->
<section id="masters" class="masters">
    <div class="masters-position">
        <div class="par-text__pos">
        <p class="masters-paragraph">для настоящих ценителей атмосферы</p>
        <h2 class="masters-text">Наши мастера</h2>
    </div>

        <ul class="master-block">
            <li class="master-section">
                <img class="pic" srcset="/images/our_masters/first.jpg 1x,
                        /images/our_masters/first@2x.jpg 2x" src="/images/our_masters/first.jpg" alt="John Smith">
                <h3 class="master-name">John Smith</h3>
                <h4 class="master-position">Extreme Barber</h4>
                <ul class="social-block">
                    <li class="social">
                        <button class="social-button">
                            <svg class="icon" width="20px" height="20px">
                                <use href="/images/icons/symbol-defs.svg#icon-instagram-2"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="social">
                        <button class="social-button">
                            <svg class="icon" width="20px" height="20px">
                                <use href="/images/icons/symbol-defs.svg#icon-twitter-1"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="social">
                        <button class="social-button">
                            <svg class="icon" width="20px" height="20px">
                                <use href="/images/icons/symbol-defs.svg#icon-facebook-1"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="social">
                        <button class="social-button">
                            <svg class="icon" width="20px" height="20px">
                                <use href="/images/icons/symbol-defs.svg#icon-linkedin-1"></use>
                            </svg>
                        </button>
                    </li>
                </ul>
            </li>
            <li class="master-section">
                <img class="pic" srcset="/images/our_masters/second.jpg 1x,
                        /images/our_masters/second@2x.jpg 2x" src="/images/our_masters/second.jpg"
                    alt="Michele Doe">
                <h3 class="master-name">Michele Doe</h3>
                <h4 class="master-position">Extreme Barber</h4>
                <ul class="social-block">
                    <li class="social">
                        <button class="social-button">
                            <svg class="icon" width="20px" height="20px">
                                <use href="/images/icons/symbol-defs.svg#icon-instagram-2"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="social">
                        <button class="social-button">
                            <svg class="icon" width="20px" height="20px">
                                <use href="/images/icons/symbol-defs.svg#icon-twitter-1"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="social">
                        <button class="social-button">
                            <svg class="icon" width="20px" height="20px">
                                <use href="/images/icons/symbol-defs.svg#icon-facebook-1"></use>
                            </svg>
                        </button>
                    </li>
                    <li class="social">
                        <button class="social-button">
                            <svg class="icon" width="20px" height="20px">
                                <use href="/images/icons/symbol-defs.svg#icon-linkedin-1"></use>
                            </svg>
                        </button>
                    </li>
                </ul>
            </li>
            <li class="master-section">
                <div>
                    <img class="pic" srcset="/images/our_masters/third.jpg 1x,
                        /images/our_masters/third@2x.jpg 2x" src="/images/our_masters/third.jpg"
                        alt="Alan Black">

                    <h3 class="master-name">Alan Black</h3>
                    <h4 class="master-position">Extreme Barber</h4>
                    <ul class="social-block">
                        <li class="social">
                            <button class="social-button">
                                <svg class="icon" width="20px" height="20px">
                                    <use href="/images/icons/symbol-defs.svg#icon-instagram-2"></use>
                                </svg>
                            </button>
                        </li>
                        <li class="social">
                            <button class="social-button">
                                <svg class="icon" width="20px" height="20px">
                                    <use href="/images/icons/symbol-defs.svg#icon-twitter-1"></use>
                                </svg>
                            </button>
                        </li>
                        <li class="social">
                            <button class="social-button">
                                <svg class="icon" width="20px" height="20px">
                                    <use href="/images/icons/symbol-defs.svg#icon-facebook-1"></use>
                                </svg>
                            </button>
                        </li>
                        <li class="social">
                            <button class="social-button">
                                <svg class="icon" width="20px" height="20px">
                                    <use href="/images/icons/symbol-defs.svg#icon-linkedin-1"></use>
                                </svg>
                            </button>
                        </li>
                    </ul>
            </li>
    </div>
</section>
<!--end our masters -->