<!-- portfolio -->
<section class="portfolio-conteiner">
  <div class="container-portfolio">
    <h2 class="portfolio-ghost">portfolio</h2>
    <p class="portfolio-title">
      На латинском языке “барба” означает “борода”
    </p>

    <ul class="portfolio-item">
      <li class="portfolio-list">
        <img
          class="portfolio-image"
          srcset="
            /images/portfolio/port1.jpg    1x,
            /images/portfolio/port1@2x.jpg 2x,
            /images/portfolio/port1@3x.jpg 3x
          "
          src="/images/portfolio/port1.jpg"
          alt="foto"
        />
      </li>
      <li class="portfolio-list">
        <img
          class="portfolio-image ntn-margin"
          srcset="
            /images/portfolio/port2.jpg    1x,
            /images/portfolio/port2@2x.jpg 2x,
            /images/portfolio/port2@3x.jpg 3x
          "
          src="/images/portfolio/port2.jpg"
          alt="foto"
        />
      </li>
      <li class="portfolio-list">
        <img
          class="portfolio-image"
          srcset="
            /images/portfolio/port3.jpg    1x,
            /images/portfolio/port3@2x.jpg 2x,
            /images/portfolio/port3@3x.jpg 3x
          "
          src="/images/portfolio/port3.jpg"
          alt="foto"
        />
      </li>
      <li class="portfolio-list">
        <img
          class="portfolio-image ntn-margin"
          srcset="
            /images/portfolio/port4.jpg    1x,
            /images/portfolio/port4@2x.jpg 2x,
            /images/portfolio/port4@3x.jpg 3x
          "
          src="/images/portfolio/port4.jpg"
          alt="foto"
        />
      </li>
    </ul>
  </div>
</section>
<!-- end portfolio -->
