<!-- portfolio -->
<section class="portfolio-conteiner">
  <div class="container-portfolio">
    <h2 class="portfolio-ghost">portfolio</h2>
    <p class="portfolio-title">
      На латинском языке “барба” означает “борода”
    </p>

    <ul class="portfolio-item">
      <li class="portfolio-list">
        <img
          class="portfolio-image"
          srcset="
            /images/portfolio/Rectangle1.jpg,
            /images/portfolio/Rectangle1@2x.jpg 2x
          "
          src="/images/portfolio/Rectangle1.jpg"
          alt="foto"
        />
      </li>
      <li class="portfolio-list">
        <img
          class="portfolio-image ntn-margin"
          srcset="
            /images/portfolio/Rectangle2.jpg,
            /images/portfolio/Rectangle2@2x.jpg 2x
          "
          src="/images/portfolio/Rectangle2.jpg"
          alt="foto"
        />
      </li>
      <li class="portfolio-list">
        <img
          class="portfolio-image"
          srcset="
            /images/portfolio/Rectangle3.jpg,
            /images/portfolio/Rectangle3@2x.jpg 2x
          "
          src="/images/portfolio/Rectangle3@2x.jpg"
          alt="foto"
        />
      </li>
      <li class="portfolio-list">
        <img
          class="portfolio-image ntn-margin"
          srcset="
            /images/portfolio/Rectangle4.jpg,
            /images/portfolio/Rectangle4@2x.jpg 2x
          "
          src="/images/portfolio/Rectangle4@2x.jpg"
          alt="foto"
        />
      </li>
    </ul>
  </div>
</section>
<!-- end portfolio -->
